# Database
DATABASE_URL="file:./dev.db"

# Travelpayouts Affiliate Links
LOCALRENT_AFFILIATE_URL="https://localrent.tp.st/cqRoqom7"
GETRENTACAR_AFFILIATE_URL="https://getrentacar.tp.st/GoKzHnYV"
YESIM_AFFILIATE_URL="https://yesim.tp.st/7PuGrZg2"
AIRALO_AFFILIATE_URL="https://airalo.tp.st/86iUNaUC"
DRIMSIM_AFFILIATE_URL="https://drimsim.tp.st/PUAc9sbZ"
SAILY_AFFILIATE_URL="https://saily.tp.st/LKvc7wrT"

# Firebase (optional - for future auth integration)
NEXT_PUBLIC_FIREBASE_API_KEY=""
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=""
NEXT_PUBLIC_FIREBASE_PROJECT_ID=""
